<a href="mailto:swattycons@gmail.com"><i class="fas fa-envelope g-amarillo"></i></a>
<a href="https://www.facebook.com/steve.ticona.96/" target="_blank"><i class="fab fa-facebook-square f-azul"></i></a>
<a href="https://wa.link/1u1uk8" target="_blank"><i class="fab fa-whatsapp-square w-verde"></i></i></a>
