<main class="contenedor contenedor-formularios min-height">
  <h1><%= nombrePagina %></h1>

  <form action="/crear-cuenta" method="POST" class="default-form">
    <div class="campo">
      <label>Email</label>
      <input type="email" name="email" placeholder="Tu E-mail" required/>
    </div>
    <div class="campo">
      <label>Nombre</label>
      <input type="text" name="nombre" placeholder="Tu Nombre" required/>
    </div>
    <div class="campo">
      <label>Password</label>
      <input type="password" name="password" placeholder="Tu Password" required/>
    </div>
    <div class="campo">
      <label>Repetir Password</label>
      <input type="password" name="confirmar" placeholder="Repite tu Password" required/>
    </div>
    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" value="Crear Cuenta" />
    </div>
  </form>
</main>
