<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>
    <form class="default-form" method="POST">
        <legend>¿Eliminar Publicación? Una publicación eliminada no se puede recuperar</legend>
        <div class="campo enviar">            
            <input type="submit" value="Eliminar Publicación" class="btn btn-rosa">
        </div>
    </form>
</main>